.confluence-information-macro {
    background: #fcfcfc;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #333;
    margin: 10px 0 1em 0;
    min-height: 20px; /* CONFDEV-29900 needed to guarantee correct layout for empty macro in Macro Preview mode with no text entered */
    padding: 10px 10px 10px 36px;
    position: relative;
}
.confluence-information-macro.has-no-icon {
    padding-left: 10px;
}
.confluence-information-macro:first-child {
    margin-top: 0;
}
.confluence-information-macro-warning {
    background: #fff8f7;
    border-color: #d04437;
}
.confluence-information-macro-information {
    background-color: #fcfcfc;
    border-color: #aab8c6;
}
.confluence-information-macro-tip {
    background-color: #f3f9f4;
    border-color: #91c89c;
}
.confluence-information-macro-note {
    background: #fffdf6;
    border-color: #ffeaae;
}
.confluence-information-macro > .title {
    font-weight: bold;
}
.confluence-information-macro > .title > strong {
    font-weight: inherit;
}

.confluence-information-macro .confluence-information-macro-icon {
    display: block;
    left: 10px;
    line-height: 20px;
    position: absolute;
    top: 12px;
    vertical-align: text-bottom;
}

.confluence-information-macro .confluence-information-macro-icon.aui-iconfont-info {
    color: #4a6785;
}

.confluence-information-macro .confluence-information-macro-icon.aui-iconfont-error {
    color: #cf4336;
}

.confluence-information-macro .confluence-information-macro-icon.aui-iconfont-approve {
    color: #14892c;
}

.confluence-information-macro .confluence-information-macro-icon.aui-iconfont-warning {
    color: #594300;
}

/* The editor is inserting unnecessary empty <p></p> tags before and after the macro body causing
   unnecessary white-space. This is a fix to remove the extra whitespace */
.confluence-information-macro > .confluence-information-macro-body > p:empty {
    display:none;
}
